[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent

# CS9193: Argument should be a variable because it is passed to a 'ref readonly' parameter
dotnet_diagnostic.CS9193.severity = silent
